@if (!dataLoading()) {
<div class="content">
    <h2>Courses</h2>
    @if (notSelectedCourses().length > 0) {
    <div class="row">

        <div class="col">
            <label for="courseSelect">Select Course:</label>
            <select
                id="courseSelect"
                class="form-control"
                [(ngModel)]="selectedCourseId"
            >
                <option
                    *ngFor="let course of notSelectedCourses()"
                    [value]="course.id"
                >{{ course.name }}</option>
            </select>
        </div>
        <div class="col">
            <button
                class="btn btn-primary"
                [disabled]="!selectedCourseId || isAdding()"
                (click)="onAddCourse()"
            >Add Course</button>
        </div>

    </div>
    }

    <button
        (click)="onRemoveAll()"
        [disabled]="gridDataLoading() || isDeleting() || rowData().length === 0 || isAdding()"
    >Remove All</button>

    <div class="row">
        <ag-grid-angular
            style="width: 100%; height: 550px;"
            [rowData]="rowData()"
            [columnDefs]="columnDefs"
            (cellClicked)="onCellClicked($event)"
        />
    </div>


</div>
}